In [1]:
import pandas as pd
import os

In [30]:
folder_loc = './processed_outputs'
dirs = os.listdir(folder_loc)
for i, file in enumerate(dirs):
    if i == 0:
        df = pd.read_json(open(f'{folder_loc}/{file}'))
    else:
        df2 = pd.read_json(open(f'{folder_loc}/{file}'))
        df = pd.concat([df, df2])

In [31]:
df2.shape

(3527, 16)

In [17]:
df.head()

,Country,City,AccentCity,Region,Population,Latitude,Longitude,output,full_output,model,model_size,p_type,p_length,predicted_Latitude,predicted_Longitude,err
0,ae,abu dhabi,Abu Dhabi,1.0,603687,24.466667,54.366667,38.8333333 and 52.8333333.\n\nThe latitude an...,The latitude and longitude of Kalyan are 19.25...,opt,6.7b,1,3-shot,38.833333,52.833333,1599.574884
1,ae,dubai,Dubai,3.0,1137376,25.258172,55.304717,18.4 and 73.8.\n\nThe latitude and longitude ...,The latitude and longitude of Rajpur are 22.41...,opt,6.7b,1,3-shot,18.400000,73.800000,2054.769055
2,ae,sharjah,Sharjah,6.0,543942,25.357310,55.403304,45.837 and 13.8.\n\nThe latitude and longitud...,The latitude and longitude of Trieste are 45.6...,opt,6.7b,1,3-shot,45.837000,13.800000,4332.482154
3,af,baglan,Baglan,3.0,108481,36.130684,68.708286,33.9 and -97.1327778.\n\nThe latitude and lon...,The latitude and longitude of Denton are 33.21...,opt,6.7b,1,3-shot,33.900000,-97.132778,12113.801893
4,af,gardez,Gardez,36.0,103732,33.597439,69.225922,-10.981389 and 26.733333.\n\nThe latitude and...,The latitude and longitude of Likasi are -10.9...,opt,6.7b,1,3-shot,-10.981389,26.733333,6676.623481

In [32]:
df.groupby(by=["model",	"model_size", "p_type", "p_length"])['err'].mean()

model  model_size  p_type  p_length
llama  13b         0       3-shot       1069.198589
                           zero-shot     864.305397
                   1       3-shot       1102.245346
                           zero-shot     386.582253
       7b          0       3-shot       1634.439779
                           zero-shot    1082.464666
                   1       3-shot       1469.991656
                           zero-shot     521.849777
opt    13b         0       3-shot       6830.446610
                           zero-shot    2452.247993
                   1       3-shot       6052.275759
                           zero-shot    2780.776027
       6.7b        0       3-shot       7714.362866
                           zero-shot    3085.134859
                   1       3-shot       7304.277470
                           zero-shot    3009.015759
Name: err, dtype: float64

In [33]:
df2 = df.err.isnull().groupby([df['model'],df['model_size'], df['p_type'], df['p_length']]).sum().astype(int)
df2

model  model_size  p_type  p_length
llama  13b         0       3-shot         24
                           zero-shot     387
                   1       3-shot          8
                           zero-shot    2402
       7b          0       3-shot         30
                           zero-shot     547
                   1       3-shot         13
                           zero-shot    3187
opt    13b         0       3-shot         63
                           zero-shot    2894
                   1       3-shot         79
                           zero-shot    2752
       6.7b        0       3-shot         29
                           zero-shot    2784
                   1       3-shot         28
                           zero-shot    1996
Name: err, dtype: int64

In [40]:
1 - df2/3527

model  model_size  p_type  p_length
llama  13b         0       3-shot       0.993195
                           zero-shot    0.890275
                   1       3-shot       0.997732
                           zero-shot    0.318968
       7b          0       3-shot       0.991494
                           zero-shot    0.844911
                   1       3-shot       0.996314
                           zero-shot    0.096399
opt    13b         0       3-shot       0.982138
                           zero-shot    0.179473
                   1       3-shot       0.977601
                           zero-shot    0.219733
       6.7b        0       3-shot       0.991778
                           zero-shot    0.210661
                   1       3-shot       0.992061
                           zero-shot    0.434080
Name: err, dtype: float64

In [41]:
df2 = df.err.isnull().groupby([df['model'],df['model_size'], df['p_type']]).sum().astype(int)
df2

model   model_size  p_type
alpaca  7b          0          829
                    1            9
llama   13b         0          411
                    1         2410
        7b          0          577
                    1         3200
opt     13b         0         2957
                    1         2831
        6.7b        0         2813
                    1         2024
Name: err, dtype: int64

In [42]:
1 - df2/3527

model   model_size  p_type
alpaca  7b          0         0.764956
                    1         0.997448
llama   13b         0         0.883470
                    1         0.316700
        7b          0         0.836405
                    1         0.092713
opt     13b         0         0.161610
                    1         0.197335
        6.7b        0         0.202438
                    1         0.426141
Name: err, dtype: float64

In [21]:
df.groupby(by=["model",	"model_size", "p_type"])['err'].mean()

model   model_size  p_type
alpaca  7b          0         1799.540723
                    1         2158.915491
llama   13b         0          972.350083
                    1          928.877349
        7b          0         1380.481799
                    1         1386.346550
opt     13b         0         6154.000497
                    1         5451.893971
        6.7b        0         6903.347443
                    1         5996.912524
Name: err, dtype: float64